:root {
  // colors
  --color-cyan-600: #4D96A9;
  --color-cyan-300: #8FE3F9;
  --color-purple-600: #855FB1;
  --color-purple-300: #D9B8FF;
  --color-slate-900: #28283D;
  --color-slate-600: #87879D;
  --color-slate-300: #D1D1DF;
  --color-white: #FAFAFA;

  // spacing
  --spacing-1400: 112px;
  --spacing-1000: 80px;
  --spacing-900: 72px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  // fz-desktop
  --fz-desktop-text-preset-1: 64px;
  --fz-desktop-text-preset-2: 40px;
  --fz-desktop-text-preset-3: 18px;
  --fz-desktop-text-preset-4: 16px;

  // fz-tablet
  --fz-tablet-text-preset-1: 48px;
  --fz-tablet-text-preset-2: 36px;
  --fz-tablet-text-preset-3: 16px;
  --fz-tablet-text-preset-4: 14px;

  // fz-mobile
  --fz-mobile-text-preset-1: 40px;
  --fz-mobile-text-preset-2: 32px;
  --fz-mobile-text-preset-3: 12px;
}