.footer {
  width: 100%;
  height: 312px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Red Hat Display", sans-serif;
  color: var(--color-white, #FAFAFA);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  column-gap: var(--spacing-400);
  // 64px to 112px, from 375 to 1440px, 32px to 160px, from 375px to 1440px
  padding: clamp(4rem, 2.944rem + 4.507vw, 7rem) clamp(2rem, -0.817rem + 12.019vw, 10rem);

  h3 {
    font-size: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 44px */

    @media (max-width: 1168px) {
      text-align: center;
    }
  }

  p {
    font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 150%; /* 27px */
  }

  button {
    text-wrap: nowrap;
    height: 56px;

    @media (max-width: 1168px) {
      width: 193px;
      align-self: center;
    }

  }

  @media (max-width: 1168px) {
    flex-direction: column;
    row-gap: var(--spacing-300);
  }
}