:root {
  /* Colors */
  --color--Aurometal-Saurus: #6C7289;
  --—Åolor--cream-bg: #F2EAE2;
  --color-white: #FFFFFF;
  --color-Gunmetal: #1C232B;
  --color-Deep-Aquamarine: #3D8168;
  --color-deep-aquamarine-hover: #1A4032;
}