.step {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--color-slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-white);

  &Number {
    color: var(--color-slate-600, #87879D);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -150%;
    transform: translateX(-50%);
    width: 1px;
    height: 80px;
    background: var(--color-slate-300);
  }
}